.idea/*
gui/__pycache__/designer.cpython-38.pyc
group_images/__pycache__/testBlurrLaplacianVariance.cpython-38.pyc
group_images/__pycache__/testEdgesKMeans.cpython-38.pyc
__pycache__/edgeBasedSegmentation.cpython-38.pyc
gui/__pycache__/main.cpython-38.pyc
__pycache__/evaluation.cpython-38.pyc
__pycache__/mainTemp.cpython-38.pyc
__pycache__/watershedSegmentation.cpython-38.pyc

*.pyc
