appdirs==1.4.3
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
bleach>=3.3.0
certifi==2019.11.28
cffi==1.14.3
chardet==3.0.4
Click==7.0
colorama==0.4.4
cv==1.0.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
entrypoints==0.3
filelock==3.0.12
hyperopt==0.1.2
idna==2.8
imageio==2.8.0
imutils==0.5.3
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.text==3.2.0
jedi==0.17.2
Jinja2==2.11.1
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.2.0
mistune==0.8.4
more-itertools==8.5.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
netifaces==0.10.9
networkx==2.4
notebook>=6.1.5
numpy==1.18.1
opencv-python==4.2.0.32
packaging==20.4
pandas==1.0.4
pandocfilters==1.4.3
parso==0.7.1
pickleshare==0.7.5
Pillow==7.1.0
pip-autoremove==0.9.1
portend==2.6
prometheus-client==0.8.0
prompt-toolkit==3.0.8
pycparser==2.20
pycryptodome==3.9.9
Pygments==2.7.2
pyparsing==2.4.6
PyQt5==5.14.2
PyQt5-sip==12.7.2
PyQt5-stubs==5.14.2.2
PyQt5Designer==5.14.1
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
pywin32==228
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.22.0
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
Send2Trash==1.5.0
SimpleITK==1.2.4
six==1.14.0
soupsieve==1.9.5
tempora==4.0.0
terminado==0.9.1
testpath==0.4.4
tornado==6.0.4
traitlets==5.0.5
urllib3==1.25.8
virtualenv==20.0.21
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.0
zc.lockfile==2.0
